.container{
	margin-left: 1rem;
	margin-right: 1rem;
}

.individualTypes{
    display: flex;
}

#kids{
    flex: 1;
}
#title{
   margin-bottom: 2rem;
}
#subtext{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.individualOptions{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem; 

}

.buttonFalse {
    padding: 1rem 3rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    background-color: transparent;
    border-radius: 1.6rem;
    border: 0.2rem solid black;
}

.buttonTrue:hover {
    border: 0.5rem solid black;
	background-color: transparent;
}

.buttonFalse:hover {
    border: 0.5rem solid black;
	background-color: transparent;
}

.buttonTrue{
	padding: 1rem 3rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    background-color: transparent;
    border-radius: 1.6rem;
    border: 0.2rem solid black;
}

/* .buttonFalse {
	background-color:transparent;
	border-radius:28px;
	border:2px solid #424242;
	display:inline-block;
	cursor:pointer;
	color:#383838;
	padding:16px 31px;
	text-decoration:none;
}

.buttonTrue {
	background-color:transparent;
	border-radius:28px;
	border:4px solid #424242;
	display:inline-block;
	cursor:pointer;
	color:#383838;
	padding:16px 31px;
	text-decoration:none;
}

.buttonFalse:hover {
	background-color:transparent;
    border:4px solid #424242;
}

.buttonTrue:hover {
	background-color:transparent;
    border:2px solid #424242;
}

button:active {
	position:relative;
	top:1px;
} */



