.individualTypes{
    display: flex;
}

#kids{
    flex: 1;
}
#title{
   margin-bottom: 2rem;
}
#subtext{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.individualOptions{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem; 
    
}


