.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    }
    
button {
    padding: 1rem 3rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    background-color: transparent;
    border-radius: 1.6rem;
    border: 0.2rem solid black;
}

button:hover {
    background-color: pink;
    transition: background-color 1s;
}


.title{
    margin-bottom: 5rem;
}